/**
 * Frame edit view styles
 */
.frame-edit {
  position: fixed;
  display: none;
  top: 10vh;
  left: 5vw;
  z-index: 1000;
  width: 35vw;
  min-width: 500px;
  height: auto;
  max-height: 75vh;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.frame-edit .frame-edit-container {
  position: relative;
  padding: 25px;
  width: 100%;
  height: auto;
  margin: 0;
  opacity: 0.5;
  overflow: auto;
  border-radius: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}
@media only screen and (max-device-width: 767px) {
  .frame-edit .frame-edit-container {
    min-width: 90vw;
    top: 5vh;
    right: 5vw;
  }
}

.frame-edit .frame-edit-container .frame-edit--title,
.frame-edit .frame-edit-container .frame-edit--content {
  position: relative;
  display: block;
  padding: 25px 0 10px 0;
}
.frame-edit .frame-edit-container .frame-edit--title label,
.frame-edit .frame-edit-container .frame-edit--content label {
  position: absolute;
  cursor: pointer;
  top: 25%;
  left: 0;
  color: #333;
  font-size: 1em;
  will-change: font-size;
  transition: all 100ms ease-out;
}
.frame-edit .frame-edit-container .frame-edit--title input,
.frame-edit .frame-edit-container .frame-edit--content input {
  width: 100%;
  outline: none;
  font-size: 1em;
  color: #000;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: #777;
  border-radius: 0;
  border-style: solid;
}
.frame-edit .frame-edit-container .frame-edit--title input:focus,
.frame-edit .frame-edit-container .frame-edit--content input:focus {
  border-color: #777;
}
.frame-edit .frame-edit-container .frame-edit--title.active label,
.frame-edit .frame-edit-container .frame-edit--content.active label,
.frame-edit .frame-edit-container .frame-edit--title input:focus ~ label,
.frame-edit .frame-edit-container .frame-edit--title input:valid ~ label,
.frame-edit .frame-edit-container .frame-edit--content input:focus ~ label,
.frame-edit .frame-edit-container .frame-edit--content input:valid ~ label {
  font-size: 0.75em;
  top: 5%;
}


/**
 * Frame edit action buttons
 */
.frame-edit .frame-edit-btn--save,
.frame-edit .frame-edit-btn--delete {
  position: absolute;
  padding: 5px 25px;
  opacity: 0.5;
  height: auto;
  color: #333;
  font-size: 1em;
  line-height: 2em;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: whitesmoke;
  transition: all 0.25s ease-out;
}
.frame-edit .frame-edit-btn--save {
  bottom: -50px;
  left: 0;
}
.frame-edit .frame-edit-btn--delete {
  bottom: -50px;
  right: 0;
}
.frame-edit .frame-edit-btn--save:active,
.frame-edit .frame-edit-btn--save:focus,
.frame-edit .frame-edit-btn--save:hover {
  opacity: 0.75;
}
.frame-edit .frame-edit-btn--delete:active,
.frame-edit .frame-edit-btn--delete:focus,
.frame-edit .frame-edit-btn--delete:hover {
  opacity: 0.75;
  background-color: rgba(255, 54, 46, 0.75);
}
