/**
 * Overlay menu styles
 */
.menu {
  display: none;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 1em;
  line-height: 2em;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.menu .menu-container {
  position: fixed;
  top: 10vh;
  left: 5vw;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu .menu-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 250px;
  margin: 0;
  padding: 0;
  height: 75%;
  overflow: scroll;
}
.menu .menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 50px;
  min-width: 250px;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
  opacity: 0.5;
  background: whitesmoke;
  transition: opacity 0.25s ease-out;
}
.menu .menu-item:first-of-type {
  margin-top: 0;
}
.menu .menu-item:hover {
  opacity: 0.75;
}
