.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  will-change: opacity;
  transition: opacity 0.25s ease-out;
  pointer-events: none;
}

.branding {
  width: auto;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 0;
  pointer-events: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1vh;
  opacity: 0.75;
  background: #333;
}
