/**
 * Settings view styles
 */
.settings {
  position: fixed;
  display: none;
  top: 10vh;
  left: 0;
  width: 35vw;
  min-width: 500px;
  height: auto;
  z-index: 1000;
  margin: 25px;
  color: #333;
  font-size: 1em;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.settings .settings-container {
  width: 100%;
  height: auto;
  padding: 25px;
  background-color: whitesmoke;
  opacity: 0.5;
  border-radius: 0;
}
.settings .settings-container .settings--title {
  text-align: left;
  font-size: 1em;
  color: #333;
  margin-top: 0;
}
.settings .settings-container .settings--input {
  position: relative;
  display: block;
  padding: 25px 0 10px 0;
}
.settings .settings-container .settings--input label {
  position: absolute;
  cursor: pointer;
  top: 25%;
  left: 0;
  color: #555;
  font-size: 1em;
  will-change: font-size;
  transition: all 100ms ease-out;
}
.settings .settings-container .settings--input input {
  width: 100%;
  outline: none;
  font-size: 1em;
  color: #333;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: #777;
  border-radius: 0;
  border-style: solid;
}
.settings .settings-container .settings--input input:focus {
  border-color: #777;
}
.settings .settings-container .settings--input.active label,
.settings .settings-container .settings--input input:focus ~ label,
.settings .settings-container .settings--input input:valid ~ label {
  font-size: 0.75em;
  top: 5%;
}
.settings .settings-btn--save {
  position: absolute;
  left: 0;
  bottom: -50px;
  cursor: pointer;
  outline: none;
  padding: 5px 25px;
  height: auto;
  opacity: 0.5;
  font-size: 1em;
  line-height: 2em;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  background-color: whitesmoke;
  transition: opacity 0.25s ease-out;
}
.settings .settings-btn--save:active,
.settings .settings-btn--save:focus,
.settings .settings-btn--save:hover {
  opacity: 0.75;
}
